#navigation(style="width:100%;")
  .ui.menu.large
    a.item(href="/")
      i.icon.left(class="#{ config.service.icon || 'lab' }")
      | #{config.service.name}

    block mainMenu
      .right.menu
        if (user)
          a.item(href="/people/#{user.slug}") #{user.username}
          a.item(href="/sessions/#{session.hash}?method=delete") Logout
        else if (config.config.allowPublicRegistration)
          a.item(href="/sessions")
            i.user.icon
            | Login &raquo;
          a.item(href="/people")
            i.icons
              i.user.icon
              i.corner.add.icon
            |  Register &raquo;

  .ui.menu.small.bottom(style="margin-top: -1.25em;")
    a.item(href="/", title="#{config.service.name} Homepage", ng-class="{ active: isActive('/')}")
      i.home.icon
      |  Home
