dom-module#melody-navbar
  template
    .ui.menu.large
      a.item(href="/")
        i.icon.left(class="#{ config.service.icon || 'lab' }")
        | #{config.service.name}

      //- block for prepend/append/replace-able menu items
      block mainMenu
        .right.menu
          if (user)
            a.item(href="/people/#{user.slug}") #{user.username}
            a.item(href="/sessions/#{session.hash}?method=delete") Logout
          else
            a.item(href="/sessions")
              i.user.icon
              | Login &raquo;

  script.
    Polymer({
      is: 'melody-navbar'
    });
